@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared colors */
:root{
    --primary-color: #3A3A3A;
}

.btn-primary {
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    border: none;
    gap: 8px;
    display: inline-flex;
    font-weight: bold;
    cursor: pointer;
}



/* header style */
header{
    margin: 0 auto;
    max-width: 1200px;
    color: var(--primary-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar> ul{
    display: flex;
    list-style: none;
    gap: 34px;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    color: var(--primary-color);
}

/* hero section style */

.hero-section{
    display: flex;
    justify-content: space-between;
    gap: 130px;
    align-items: center;
    margin-top: 50px;
}
.hero-title{
    font-size: 52px;
    line-height: 72px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 16px;
}
.hero-description{
    font-weight: 600;
    margin-bottom: 16px;
}
.hero-btn{
    border-radius: 41px;
}

#hero-camera{
    position: absolute;
    align-self: center;
    z-index: 1;
}

/* media section */

.media-logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    padding: 35px 60px;
}